.menuItems {
  background-color: #e6e6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 6px;
  border-radius: 5px;
  padding: 8px 0;
}
.userInfo {
  background-color: #e6e6ff;
  display: flex;
  height: 80px;
  align-items: flex-end;
  justify-content: space-around;
  border-radius: 5px;
}
/* .box {
  height: 40px;
  width: 40px;
  background-color: #000033;
  cursor: pointer;
  color: #fff;
} */

.inactive {
  background-color: #fff;
  color: #000033;
}
